body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.Titleheadeer {
    width: 100%;
    background-color: black;
    height: 300px;
    color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: relative;
    bottom: 10px;
}

.Headerwords {
    position: relative;
    top: 120px;
    letter-spacing: 6px;
}

.emailnameslistt1 {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: grey;
}

.emailnameslistt1 a{
text-decoration:none;
text-transform:none;
}


.Form {
    width: 100%;
    position: relative;
    top: 50px;
}

.contact-form {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    text-decoration: none;
    border: none;
}

.titlemail {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.Credit {
    width: 100%;
    background-color: rgb(124, 124, 124);
    position: relative;
    top: 100px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: rgb(199, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
}

.titlemail {
    color: goldenrod;
}

.nameform {
    text-align: center;
}

.Emailformstyl {
    text-align: center;
}

.Subjectformstyl {
    text-align: center;
}

.messgform {
    text-align: center;
}

.sendbuttn {
    background-color: black;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
}

.Navcloud a {
    text-decoration: none;
    color: silver;
}

.Navcloud {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.homebutton {
    padding-right: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.Musicbutton {
    padding-right: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.contactbutton {
    padding-right: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.Newbutton {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}
