body {
    background-color: black;
}

.TitleofPolicy {
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 300px;
    background-color: rgb(164, 47, 218);
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
}

.Words {
    word-spacing: 10px;
    letter-spacing: 10px;
    position: relative;
    top: 100px;
}

.Termsbutton {
    position: fixed;
    z-index: 1;
    top: 150px;
    text-align: center;
    background-color: rgb(105, 28, 141);
    color: rgb(221, 221, 221);
    width: 100px;
    text-decoration: none;
    border: none;
}

.homebuttn {
    position: fixed;
    z-index: 1;
    text-align: center;
    background-color: rgb(105, 28, 141);
    color: rgb(221, 221, 221);
    width: 100px;
    text-decoration: none;
    border: none;
}

.contactbuttn {
    position: fixed;
    top: 250px;
    z-index: 1;
    text-align: center;
    background-color: rgb(105, 28, 141);
    color: rgb(221, 221, 221);
    width: 100px;
    text-decoration: none;
    border: none;
}

.policytit {
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

.Privacybuttn {
    position: fixed;
    top: 350px;
    z-index: 1;
    text-align: center;
    background-color: rgb(105, 28, 141);
    color: rgb(221, 221, 221);
    width: 120px;
    text-decoration: none;
    border: none;
}

.policyhead {
    width: 100%;
    color: rgb(158, 158, 158);
    text-align: center;
    letter-spacing: 1px;
}
