body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.MainHeadingofpage {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    color: white;
    animation: head ease-in 21s infinite;
    -webkit-animation: head ease-in 21s infinite;
}

.MainHeadingofpage:hover {
    animation: none;
    -webkit-animation: none;
}

@keyframes head {
    0% {
        opacity: 0;
        background-color: brown;
        color: rgb(0, 0, 0);
    }
    50% {
        opacity: 1;
        background-color: blueviolet;
        color: rgb(255, 255, 255);
    }
    100% {
        opacity: 0;
        background-color: brown;
        color: rgb(0, 0, 0);
    }
}

.wordsofhead {
    position: relative;
    top: 120px;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 2px;
}

.Navigation {
    position: relative;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    z-index: 40;
    justify-content: center;
}

.Navigation a {
    z-index: 40;
    position: relative;
    text-decoration: none;
    color: #000;
}

.samplfav {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 35px;
}

.piano {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.piano a {
    text-decoration: none;
    border: none;
    color: rgb(35, 126, 211);
    font-size: 19px;
    letter-spacing: 10px;
}

.updateprogress {
    width: 100%;
    height: 280px;
    background-color: rgba(150, 150, 150, 0.486);
    position: absolute;
    top: 535px;
    text-align: center;
    align-content: center;
    justify-content: center;
}

@media only screen and (min-width:30px) and (max-width:500px) {
    .MainHeadingofpage {
        height: 200px;
    }
    .wordsofhead {
        top: 60px;
    }
    .Words {
        top: 50px;
    }
    .updateprogress {
        width: 100%;
        height: 280px;
        background-color: rgba(150, 150, 150, 0.486);
        position: absolute;
        top: 450px;
        text-align: center;
        align-content: center;
        justify-content: center;
       -webkit-tap-highlight-color: transparent;

    }
}
