body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.MainHeadingofpage {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    color: white;
  
}


.wordsofhead {
    position: relative;
    top: 120px;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 2px;
}

.Navigation {
    position: relative;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    z-index: 40;
    justify-content: center;
}

.Navigation a {
    z-index: 40;
    position: relative;
    text-decoration: none;
    color: #000;
}

.samplfav {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 35px;
}

.piano {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.piano a {
    text-decoration: none;
    text-transformation:none;
    border: none;
    color: rgb(35, 126, 211);
    font-size: 19px;
    letter-spacing: 10px;
    transition: 0.5s all ease-in;
}
.piano a:hover {
    color:#7339ac;
    letter-spacing:12px;
}
.adsstyle{
    width:100%;
    justify-content:center;
    align-content:center;
    overflow-x:hidden;
}
@media only screen and (min-width:30px) and (max-width:500px) {
    .MainHeadingofpage {
        height: 200px;
    }
    .wordsofhead {
        top: 60px;
    }
    .Words {
        top: 50px;
    }
    
}


.viewcounter{
    position: relative;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    color: black;
    opacity: 0;
    animation: fade 100s infinite;
}
@keyframes fade {

    0%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0.5;
    }

}

