body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.MainHeadingofpage {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: blueviolet;
    text-align: center;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    color: white;
  
}


.wordsofhead {
    position: relative;
    top: 120px;
    font-size: 40px;
    letter-spacing: 5px;
    word-spacing: 2px;
}

.Navigation {
    position: relative;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    z-index: 40;
    justify-content: center;
}

.Navigation a {
    z-index: 40;
    position: relative;
    text-decoration: none;
    color: #000;
}

.samplfav {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 35px;
}

.piano {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.piano a {
    text-decoration: none;
    border: none;
    color: rgb(35, 126, 211);
    font-size: 19px;
    letter-spacing: 10px;
}
.adsstyle{
    width:100%;
    justify-content:center;
    align-content:center;
    overflow-x:hidden;
}
@media only screen and (min-width:30px) and (max-width:500px) {
    .MainHeadingofpage {
        height: 200px;
    }
    .wordsofhead {
        top: 60px;
    }
    .Words {
        top: 50px;
    }
    
}
