body {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.TitleofPolicy {
    width: 100%;
    height: 300px;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    letter-spacing: 5px;
    background-color: rgb(7, 102, 66);
    position: relative;
    bottom: 20px;
    -webkit-tap-highlight-color: transparent;
}

.homebuttn {
    position: fixed;
    width: 100px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: black;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.contactbuttn {
    position: fixed;
    width: 100px;
    top: 100px;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.Termsbutton {
    position: fixed;
    text-align: center;
    width: 100px;
    top: 170px;
    text-decoration: none;
    color: white;
    background-color: black;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.Words {
    position: relative;
    top: 130px;
    -webkit-tap-highlight-color: transparent;
}

.Credit {
    width: 100%;
    background-color: rgb(124, 124, 124);
    position: relative;
    top: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: rgb(199, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
}

.policytit {
    text-align: center;
    justify-content: center;
    align-content: center;
    color: gray;
}

.policyhead {
    text-align: center;
    justify-content: center;
    align-content: center;
    color: grey;
}

.policyhead a {
    text-decoration: none;
    color: black;
}