body {
    scroll-behavior: smooth;
    background-color: rgb(125, 18, 197);
    animation: change 80s infinite ease-in;
}

@keyframes change {
    0%{
    background-color: rgb(125, 18, 197);
    }
    50%{
    background-color: black;
    }
    100%{
        background-color:rgb(125, 18, 197);
    }
}
html{
    scroll-behaviour:smooth;
}
.Headingofpage {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
}

.notice {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-content: center;
    letter-spacing: 2px;
    color: white;
}

.Pre-production {
    width: 100%;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
}

.Pre-productiondetail {
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 1.6px;
    text-transform: none;
    color: white;
}

.smallline,
.Whatdoineed,
.basicknowledeg {
    width: 100%;
    text-align: center;
    color: white;
}

.Image {
    width: 100%;
    justify-content: center;
    align-content: center;
}

.audio {
    width: 100%;
}

.simple {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-decoration: none;
    text-transform: none;
   -webkit-tap-highlight-color: transparent;
}

.simple a {
    text-decoration: none;
    color: rgb(9, 241, 241);
    -webkit-tap-highlight-color: transparent;
}

.footer {
    width: 100%;
}

.footercontainer {
    display: flex;
    height: 60px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-content: center;
    -webkit-tap-highlight-color: transparent;
}

.footercontainer a {
    position: relative;
    top: 20px;
    text-decoration: none;
    color: purple;
    padding-right: 15px;
    Transition: 2s ease:;
    -webkit-tap-highlight-color: transparent;
}

.footercontainer a:hover {
    color: goldenrod;
}

@media only screen and (min-width:10px) and (max-width:700px) {
    .Headingofpage {
        font-size: 20px;
        letter-spacing: 5px;
        color: white;
    }
    .Pre-production {
        font-size: 15px;
        color: white;
        letter-spacing: 5px;
    }
}
