body {
    scroll-behavior: smooth;
    touch-action: smooth;
    background-color: white;
    animation: fade 80s infinite ease;
}
html{
    scroll-behaviour:smooth;
}

@keyframes fade {
    0%{
    background-color: white;
        }
    50%{
        background-color:#7d42f4;
    }
    100%{
    background-color:white;
    }
}

.Loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Loader.hidden {
    display: none;
}

.movlogo {
    position: relative;
    width: 100px;
    justify-content: center;
    align-content: center;
    top: 300px;
}

@keyframes rotatingloader {
    0% {
        opacity: 0;
        -webkit-transform: rotateZ(1000deg);
        -moz-transform: rotateZ(1000deg);
        -ms-transform: rotateZ(1000deg);
        -o-transform: rotateZ(1000deg);
         transform: rotateZ(1000deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: rotateZ(2000deg);
        -moz-transform: rotateZ(2000deg);
        -ms-transform: rotateZ(2000deg);
        -o-transform: rotateZ(2000deg);
         transform: rotateZ(2000deg);
    }
}

.movlogo>img {
    width: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 66px rgb(144, 75, 255);
    animation: rotatingloader 1s infinite ease;
    -webkit-animation: rotatingloader 1s infinite ease;
}

.CookiePolicypagepop {
    width: 100%;
    left: 0;
    position: fixed;
    height: 250px;
    background-color: #7d42f4;
    z-index: 50;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 200px;
    color: white;
}

.Cookietitl {
    width: 100%;
    color: white;
    letter-spacing: 10px;
}

.Buttonsoftermsd {
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
}

.Buttonsoftermsd a {
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.Buttncooki {
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
    top: 20px;
    align-content: center;
    -webkit-tap-highlight-color: transparent;
}

.AcceptButtncooki {
    width: 100%;
    position: relative;
    cursor: pointer;
    color: rgb(0, 0, 0);
    align-content: center;
   -webkit-tap-highlight-color: transparent;
}

.websitetitle {
    width: 100%;
    background-color: rgb(170, 170, 170);
    height: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    bottom: 30px;
    color: white;
    -webkit-animation: littleslowflash 80s infinite ease;
    animation: littleslowflash 80s infinite ease;
    cursor: default;
    text-decoration: none;
}

.websitetitle a {
    text-decoration: none;
}

@keyframes littleslowflash {
    0% {
        opacity: 0.5;
        color: white;
        background-color: black;
    }
    50% {
        opacity: 1;
        color: black;
        background-color: white;
    }
    100% {
        opacity: 0.5;
        color: white;
        background-color: black;
    }
}

.Lettersoftitle {
    top: 130px;
    position: relative;
    letter-spacing: 10px;
    text-decoration: none;
    animation: fontdif 80s infinite ease;
}
@keyframes fontdif{

    0%{
    color:white;
    }
    50%{
    color:black;
    }
    100%{
    color:white;
    }
}

@keyframes fontswhite {
    0%{
    color:black;
    }
    50%{
    color:white;
    }
    100%{
        color:black;
    }
    
}

.Navbar {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 50px;
    animation: fontswhite 80s infinite ease;

}
.Navbar a{
font-size:20px;
animation: fontswhite 80s infinite ease;
}


.Homebuttonnav {
    text-decoration: none;
    color: rgb(61, 61, 61);
    cursor: pointer;
    padding-right: 40px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    -webkit-tap-highlight-color: transparent;
}

.Homebuttonnav:hover {
    color: black;
    cursor: pointer;
}

.Musicbutton:hover {
    color: black;
}

.Musicbutton {
    text-decoration: none;
    color: rgb(61, 61, 61);
    transition: 1s ease;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    -webkit-tap-highlight-color: transparent;
}


.Newmusicbutton:hover {
    color: black;
}

.Newmusicbutton {
    text-decoration: none;
    color: rgb(61, 61, 61);
    padding-left: 40px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
     transition: 1s ease;
    -webkit-tap-highlight-color: transparent;
}

.Contactbutton:hover {
    color: black;
}

.Contactbutton {
    text-decoration: none;
    color: rgb(61, 61, 61);
    padding-left: 40px;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
    -webkit-tap-highlight-color: transparent;
}

#Hamburger {
    position: absolute;
    Color:#7d42f4;
    cursor: pointer;
    left: 10px;
    top: 450px;
    font-size:25px;
    -webkit-transition: margin-left 2s ease-out;
    -moz-transition: margin-left 2s ease-out;
    -ms-transition: margin-left 2s ease-out;
    -o-transition: margin-left 2s ease-out;
    transition: margin-left 2s ease-out;
    text-decoration: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    padding-bottom: 10px;
    Animation: changeoffads 80s infinite ease;
}

@keyframes changeoffads {
0%{
color:#7d42f4;
}
50%{
color:white;
}
100%{
color:#7d42f4;
}
}
.Closeit {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    left: 40px;
    -webkit-tap-highlight-color: transparent;
}

.SitesliderNav a {
    text-decoration: none;
    padding: 20px 20px 13px 10px;
    display: block;
    color: white;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
     transition: 1s;
    -webkit-tap-highlight-color: transparent;
}

.SitesliderNav a:hover {
    color: rgb(0, 0, 0);
}

.SitesliderNav {
    position: fixed;
    padding-top: 50px;
    height: 100%;
    width: 0;
    background-color: #7d42f4;
    text-decoration: none;
    z-index: 80;
    left: 0;
    top: 0;
    overflow-x: hidden;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
     transition: 0.2s ease-in-out;
      transition-timing-function: cubic-bezier(0.77,0.43,0.05,0.35);
    justify-content: center;
    align-content: center;
    text-align: center;
    -webkit-animation: slidehere 10s ease-in-out;
    animation: slidehere 10s ease-in-out;
    box-shadow: 1px 1px 10px rgb(167, 167, 167);
    -webkit-tap-highlight-color: transparent;
}

@keyframes slidehere {
    0% {
        opacity: 0.5;
        background-color: goldenrod;
    }
    100% {
        opacity: 1;
        background-color: #7d42f4;
    }
}

.Closeitid1coookie {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.FeaturedUpcomingWork {
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 200px;
    top: 150px;
    justify-content: center;
    align-content: center;
    z-index:10;
    -webkit-tap-highlight-color: transparent;
        animation: fade 80s infinite ease;

}

@keyframes simpleanimation {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
         transform: scale(1);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.004);
        -moz-transform: scale(0.004);
        -ms-transform: scale(0.004);
        -o-transform: scale(0.004);
         transform: scale(0.004);
    }
}

.FirstRelease {
    width: 200px;
    -webkit-animation: simpleanimation infinite 5s ease;
    animation: simpleanimation infinite 5s ease;
}

.FirstRelease>img {
    width: 100%;
Box-shadow:1px 1px 10px grey;
}

.FirstRelease:hover {
    -webkit-animation: none;
    animation: none;
}

.SecondRelease:hover {
    -webkit-animation: none;
    animation: none;
}

.SecondRelease {
    opacity: 1;
    width: 200px;
    -webkit-animation: simpleanimation infinite 15s ease-in;
     animation: simpleanimation infinite 15s ease-in;
}

.SecondRelease>img {
    width: 100%;
Box-shadow:1px 1px 10px grey;
}

.ThridRelease:hover {
    -webkit-animation: none;
     animation: none;
}

.ThridRelease {
    width: 200px;
    -webkit-animation: simpleanimation infinite 10s ease-in;
     animation: simpleanimation infinite 10s ease-in;
}

.ThridRelease>img {
    width: 100%;
Box-shadow:1px 1px 10px grey;

}

.FourthRelease:hover {
    -webkit-animation: none;
    animation: none;
}

.FourthRelease {
    width: 200px;
    -webkit-animation: simpleanimation infinite 20s ease-in;
     animation: simpleanimation infinite 20s ease-in;
}

.FourthRelease>img {
    width: 100%;
Box-shadow:1px 1px 10px grey;

}

.FifthRelease:hover {
    -webkit-animation: none;
     animation: none;
}

.FifthRelease {
    width: 200px;
    -webkit-animation: simpleanimation infinite 30s ease-in;
     animation: simpleanimation infinite 30s ease-in;
}

.FifthRelease>img {
    width: 100%;
Box-shadow:1px 1px 10px grey;

}

.linkofthisnew {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.Mainfirsttitle {
    position: relative;
    width: 100%;
    text-align: center;
    color: rgb(61, 61, 61);
    top: 150px;
    letter-spacing: 10px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    animation: fontswhite 80s infinite ease;

}

.ThemeTracks {
    width: 100%;
    text-align: center;
    position: relative;
    top: 200px;
    color: rgb(61, 61, 61);
    letter-spacing: 10px;
    animation: fontswhite 80s infinite ease;

}

.Secondtitleoftheme {
    width: 100%;
    letter-spacing: 2px;
    color:rgb(61, 61, 61);
    animation: fontswhite 80s infinite ease;

}

.underwordsthemetitle {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    color: rgb(61, 61, 61);
Font-size:25px;
    line-height: 2;
    animation: fontswhite 80s infinite ease;
    -webkit-tap-highlight-color: transparent;
}

.MusicDigitalPlateforms {
    display: flex;
    width: 100%;
    position: relative;
    height: 30px;
    top: 200px;
    -webkit-tap-highlight-color: transparent;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.SpotifyArtist {
    width: 30px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-right: 50px;
}

.SpotifyArtist>img {
    width: 100%;
}

.YoutubeArtist {
    width: 40px;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-right: 50px;
}

.YoutubeArtist>img {
    width: 100%;
}

.TuneinArtist {
    width: 70px;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    top: 5px;
    padding-right: 50px;
}

.TuneinArtist>img {
    width: 100%;
}

.ApplemusicArtist {
    width: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}

.ApplemusicArtist>img {
    width: 100%;
}

.Iheartradioartist {
    width: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
    padding-left: 50px;
}

.Iheartradioartist>img {
    width: 100%;
}

.WorkTitles {
    width: 100%;
    color: rgb(61, 61, 61);
    text-align: center;
    justify-content: center;
    display: block;
    position: relative;
    top: 200px;
font-size:35px;
   animation: fontswhite 80s infinite ease;

}

.Homefooter {
    width: 100%;
    height: 300px;
    background-color: grey;
    position: relative;
    top: 250px;
}
.Credit a{
    text-transformation:none;
    color: white;
        align-content: center;
        justify-content: center;
        font-size: 8px;
        text-align: center;
    border:none;
    text-decoration:none;
}
.Credit {
    width: 100%;
    background-color: rgb(124, 124, 124);
    position: relative;
    top: 200px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
}
@media only screen and (min-width:801px) and (max-width:2000px){
    .SitesliderNav{
    padding-top:30px;
        font-size:17px;
    }
    .Navbar a {
        top: 50px;
        font-size: 40px;
        padding: 70px;
    }
}
@media only screen and (min-width:50px) and (max-width:800px) {
    .websitetitle {
        font-size: 27px;
        letter-spacing: 1px;
        height: 100px;
        position: relative;
        top: -20px;
    }
.WorkTitles{
font-size:25px;
}
.underwordsthemetitle{
Font-size:19px;
}
    .Lettersoftitle {
        position: relative;
        top: 30px;
        letter-spacing: 1px;
    }
 
    #Hamburger {
        top: 130px;
    }
    .SitesliderNav {
        padding-top: 50px;
        font-size: 15px;
    }
    .FeaturedUpcomingWork {
        position: relative;
        height: 100px;
        top:170px
    }
    .Mainfirsttitle {
        font-size: 13px;
    }
    .ThemeTracks {
        font-size: 17px;
        letter-spacing: 1px;
        position: relative;
        bottom: 50px;
    }
    .TitleTheme {
        position: relative;
        bottom: 20px;
    }
    .SpotifyArtist {
        width: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .YoutubeArtist {
        width: 30px;
        padding-right: 10px;
    }
    .TuneinArtist {
        width: 50px;
        padding-right: 10px;
    }
    .ApplemusicArtist {
        width: 20px;
    }
    .Iheartradioartist {
        width: 20px;
        padding-left: 10px;
    }
    .CookiePolicypagepop {
        font-size: 10px;
        Background-color:#7d42f4;
    }
    .Cookietitl {
        letter-spacing: 1px;
        Color:white;
    }
    .Buttncooki {
        padding-right: 10px;
        padding-left: 50px;
        position: relative;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    .CookiePolicypagepop {
        height: 180px;
        Background-color:#7d42f4;
    }
    .AcceptButtncooki {
        padding-left: 50px;
    }
}

.Qrcode {
    width: 100%;
    position: relative;
    justify-content: center;
    align-content: center;
    text-align: center;
    top: 200px;
}
.Qrcode>img{
width:100px;
   height:100px;
Box-shadow:1px 1px 10px rgb(144, 75, 255);

}

@media only screen and (min-width:10px) and (max-width:700px) {
    .movlogo {
        position: relative;
        width: 100px;
        justify-content: center;
        align-content: center;
        top: 200px;
    }
}

@media only screen and (min-width:420px) and (max-width:800px){
    .Navbar a {
        top: 50px;
        font-size: 19px;
        padding: 17px;
    }
}
@media only screen and (min-width:10px) and (max-width:419px){
    .Navbar a {
        top: 50px;
        font-size: 19px;
        padding: 4px;
    }
}
@media  only screen and (min-width:900px){

    .SweetCelebrationlink>img,
    .Earnlink>img,
    .Freezlink>img,
    .Elegancelink>img,
    .Particlelink>img,
    .Tearslink>img,
    .AWALklink>img,
    .Simpleblendslink>img,
    .SiberianShadowlink>img,
    .ShadesOflovelink>img,
    .LoadedGiftslink>img,
    .SmoothAndCOldlink>img,
    .Wondersofwinterlink>img,
    .Snowlightslink>img,
    .Natureoflovelink>img,
    .Nightinvenicelink>img,
    .ZionAndBeautylink>img,
    .PerspectiveThrilllink>img,
    .AncientThrilllink>img

    {
width: 600px;
    }
.Mainheading{
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 70px;
    letter-spacing: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Hamburger{
    font-size: 40px;
}
.titlesweet,
.titleEarn,
.titleFreez,
.titleElegance,
.titlePartile,
.titleTearsinSilence,
.titleAWALKinDream,
.titleSimplicityblend,
.titleSiberianShadow,
.titleShadesOfLove,
.titleLoadedGifts,
.titleSmoothAndCold,
.titleWondersofWinter,
.titleSnowlights,
.titleNatureoflve,
.titleNightinvenice,
.titleZionAndBeauty,
.titlePerspectiveThrill,
.titleAncient
{
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    letter-spacing: 30px;
}
.Credit{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.Credit>img{
    width: 50px;
}
.wordstitlehere{
    font-size: 80px;
}
.headermusictit{
    position: relative;
    bottom:60px ;
}
}
