body {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

.homebuttn {
    position: fixed;
    width: 100px;
    background-color: black;
    color: grey;
    text-decoration: none;
    text-align: center;
    z-index: 2;
}

.contactbuttn {
    width: 100px;
    position: fixed;
    background-color: black;
    color: grey;
    text-decoration: none;
    text-align: center;
    top: 100px;
    z-index: 2;
}

.Privacybuttn {
    width: 120px;
    position: fixed;
    background-color: black;
    color: grey;
    text-decoration: none;
    text-align: center;
    top: 200px;
    z-index: 2;
}

.TitleofPolicy {
    width: 100%;
    height: 300px;
    background-color: rgb(133, 0, 133);
    text-align: center;
    justify-content: center;
    font-size: 20px;
    letter-spacing: 10px;
    position: relative;
    bottom: 30px;
}

.Words {
    position: relative;
    top: 150px;
    color: white;
}

.tot {
    width: 100%;
    background-color: rgb(141, 8, 8);
    justify-content: center;
    display: block;
    color: grey;
}

.tot a {
    text-decoration: none;
    color: black;
}

.policytit {
    text-align: center;
}

.Credit {
    width: 100%;
    background-color: rgb(124, 124, 124);
    position: relative;
    top: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: rgb(199, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
}
