body {
    scroll-behavior: smooth;
}

.heading {
    width: 100%;
    height: 200px;
    background-color: rgb(172, 33, 236);
    color: white;
    letter-spacing: 5px;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.wordsherehead {
    position: relative;
    top: 80px;
}

.box {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
    position: relative;
    top: 100px;
}

.one2 {
    color: grey;
}

.two {
    color: grey;
}

.Navcloud a {
    text-decoration: none;
    color: silver;
}

.Navcloud {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.homebutton {
    padding-right: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.Musicbutton {
    padding-right: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.contactbutton {
    padding-right: 10px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.Newbutton {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.Credit {
    width: 100%;
    background-color: rgb(124, 124, 124);
    position: relative;
    top: 200px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: rgb(199, 199, 199);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
    letter-spacing: 1px;
}